@font-face{
	font-family: bauhaus;
	font-display: swap;
	src: url("../fonts/bauhaus.woff2") format("woff2"), url("../fonts/bauhaus.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Agitpropc;
	font-display: swap;
	src: url("../fonts/Agitpropc.woff2") format("woff2"), url("../fonts/Agitpropc.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
